.letter {
	margin:20px;
	font-family:'Lucida Console', Monaco, monospace;
	text-decoration: underline;
	font-size:40px;
}

.hideletter {
	margin:20px;
	font-family:'Lucida Console', Monaco, monospace;
	text-decoration: underline;
	font-size:100px;
	color:white;
}

body {
	background:blue;
}